@import "../../../../../public/assets/css/variable/variable";

.successfull_delivery {
  margin-top: 25px;
  min-height: 78vh;
  .successfull_delivery_inner {
    .form_wrapper {
      width: auto;
      .document {
        .doc_icon {
          margin: 0 0 20px;
        }
        .form_title {
          font-weight: 500;
          font-size: 26px;
          line-height: 30px;
          margin: 0 0 10px;
          color: $bodycolor;
        }
        .form_desc {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          margin: 0 0 35px;
          color: $bodycolor;
        }
        .btn {
          width: auto;
          min-width: 250px;
        }
      }
    }
  }
}
